*.gem
.bundle
.sass-cache
_site
Gemfile.lock
.idea
.DS_Store
*.sublime-project
*.sublime-workspace
*.swp
*.swo
/.jekyll-metadata
/vendor/
/img/pism_publications.png
/publications/published.md
/usersmap/map.html
/usersmap/org-locations.js
/publications/submitted_papers.md
