version: 2

jobs:

  build-website:
    docker:
      - image: ckhrulev/pism-website:0.1.0

    steps:
      - checkout
      - run:
          name: Build the website 
          command: make DESTDIR=/tmp/html
      - persist_to_workspace:
          root: /tmp/
          paths: html

  deploy-website:
    docker:
      - image: node:8.10.0

    steps:
      - checkout
      - attach_workspace:
          at: website
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "ckhroulev@alaska.edu"
            git config user.name "CI Builder (PISM website)"
      - add_ssh_keys:
          fingerprints:
            - "1f:9c:b0:17:51:8a:49:ac:59:54:61:72:36:3b:f7:d4"
      - run:
          name: Deploy the website to GitHub Pages
          command: >-
            gh-pages --dotfiles
            --message "[skip ci] Update the website"
            --dist website/html

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build-website
      - deploy-website:
          requires:
            - build-website
          filters:
            branches:
              only: main
