<!-- head scripts -->

<!-- Favicon -->
<!-- Default -->
<link rel="shortcut icon" href="{{ site.url }}/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon/favicon-32x32.png">
<!-- iOS -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/favicon/apple-touch-icon-180x180.png">
<meta name="apple-mobile-web-app-title" content="PISM">
<!-- Android -->
<link rel="manifest" href="{{ site.url }}/favicon/site.webmanifest">
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.url }}/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="256x256" href="{{ site.url }}/favicon/android-chrome-256x256.png">
<meta name="application-name" content="PISM">
<meta name="theme-color" content="#ebebeb">
<!-- Safari -->
<link rel="mask-icon" href="{{ site.url }}/favicon/safari-pinned-tab.svg" color="#216778">
<!-- IE -->
<meta name="msapplication-TileColor" content="#216778">
<meta name="msapplication-TileImage" content="{{ site.url }}/favicon/mstile-150x150.png">
<meta name="msapplication-config" content="{{ site.url }}/favicon/browserconfig.xml">

<!-- Landing page 'scroll down' animation -->
<style type="text/css">
.scroll-down-icon {
  position:relative;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  color:$white;
  -webkit-animation:bounce 1s infinite;
  -moz-animation:bounce 1s infinite;
  -o-animation:bounce 1s infinite;
  animation:bounce 1s infinite;
}
@-webkit-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     { bottom:30; }
}
@-moz-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     { bottom:30; }
}
@-o-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     { bottom:30; }
}
@keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     { bottom:30; }
}
@media only screen and (max-width: 1023px) {
  .scroll-down-icon {
    display: none;
  }
}
</style>

<script>
/* When the user scrolls down, hide the button. When the user scrolls up, show the button */
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("scroll-down-icon").style.visibility = "visible";
  } else {
    document.getElementById("scroll-down-icon").style.visibility = "hidden";
  }
  prevScrollpos = currentScrollPos;
}
</script>