<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            {% if page.url == '/' %}
                <figure class="image has-ratio" style="width: 200px; height: 75px; padding-left: 4px;">
                    <img src="https://github.com/pism/logo/raw/main/png/pism_logo_transp_oneline_basecolor.png">
                </figure>
            {% else %}
                <h1 class="title is-1 has-text-primary-dark {% if page.url == '/' %}has-text-weight-heavy{% endif %}" >{{ page.title }}</h1>
            {% endif %}
            <p class="subtitle is-3 has-text-primary-light has-text-weight-semibold" >{{ page.subtitle }}</p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-primary is-large">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>
    </div>
    {% if page.url == "/" %}
        <div id="scroll-down-icon" class="scroll-down-icon" title="Scroll down" style="margin-bottom: 50px;"><i class="fas fa-angle-double-down fa-2x"></i></div>
    {% endif %}
    {% if page.hero_caption %}
        <span class="hero-caption">{{ page.hero_caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
    {% endif %}
</section>
