<p class="title is-4">Latest news</p>

<div class="columns is-multiline">
    {% for post in site.posts limit:3 %}
    <div class="column is-12">
        {% include post-card.html %}
    </div>
    {% endfor %}
</div>

<div class="buttons is-centered">
    <a href="/news/" class="button is-primary is-outlined">All news</a>
</div>

<a class="twitter-timeline" data-height="500" href="https://twitter.com/{{ site.author.twitter }}">Tweets by @{{ site.author.twitter }}</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
