{% if page.team %}
{% assign tiers=site.data.[page.team] %}
    <div class="columns is-multiline">
        {% for tier in tiers %}
        <div class="column is-12">
            <p class="title is-3 has-text-centered">
                <span>{{ tier.tier_name }}</span>
            </p>
            <div class="columns is-centered">
                <div class="column is-6 content has-text-centered">
                    <p>{{ tier.description | markdownify }}</p>
                </div>
            </div>

            <div class="columns is-multiline is-centered">
                {% for member in tier.team %}
                <div class="column {% if tier.size == 'large' %} is-4-desktop is-6-tablet {% else %} is-3-desktop is-4-tablet {% endif %}">
                    <div class="box has-text-centered">
                        {% if tier.size=='large' %}
                            <img src="{% if member.photo %}{{ member.photo }}{% else %}/img/team/default.png{% endif %}" class="team-photo"> 
                        {% endif %}
                        <p class="title {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                            {{ member.name }}
                        </p>
                        <p class="subtitle is-6">
                            {% if member.profile %}
                            <a href="{{ member.profile }}" class="is-link is-small">More info</a>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-12">
            <hr />
        </div>
        {% endfor %}
    </div>
{% endif %}
