---
---
// Colors
$primary: #216778;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 5%);

$link: $primary-light;
$link-visited: $primary-light;
$link-hover: $primary;
$link-active: $primary-dark;
$link-focus: $primary-dark;

$hero-colors: ("primary":
             (lighten(adjust-hue($primary, 10deg), 50%), #dddddd));

// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.has-text-weight-heavy {
    font-weight: 800 !important;
}

// Hero
.hero-caption {
    margin: 0 0 0 auto;
    padding: 2px 5px;
    color: white;
    background: black !important;
    font-size: small;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: .5em 0 0 0;

    a:hover, a:focus {
        text-decoration: underline;
    }
}

// Team photos
img.sponsor-photo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid grey;
}

// Import Main CSS file from theme
@import "main";
