---
---
// Primary colors
$primary: #216778;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 5%);
// Link colors
$link: $primary-light;
$link-visited: $primary-light;
$link-hover: $primary;
$link-active: $primary-dark;
$link-focus: $primary-dark;
// Import Main CSS file from theme
@import "main";