---
layout: default
---

<div class="content">

    <p><b>Published:</b> {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}

<div style="width: auto; display: block; overflow: hidden;">
  {% if page.previous.url %}
    <a style="display: block; width: 50%; float: left" href="{{page.previous.url}}">&laquo; Previous </a>
  {% endif %}
  {% if page.next.url %}
    <a style="display: block; width: 50%; float: left; text-align: right" href="{{page.next.url}}"> Next &raquo;</a>
  {% endif %}
</div>
