---
layout: default
---

<nav class="pagination is-centered">
  {% if page.previous_in_category %}
    <a href="{{ page.previous_in_category.url }}" class="pagination-previous is-info">Previous</a>
  {% else %}
    <p class="pagination-previous" disabled>Previous</p>
  {% endif %}
  {% if page.next_in_category %}
    <a href="{{ page.next_in_category.url }}" class="pagination-next is-info">Next</a>
  {% else %}
    <p class="pagination-next" disabled >Next</p>
  {% endif %}
</nav>

<div class="content">

    <p><b>Published:</b> {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
